/*CSS for the site*/
BODY, HTML {
  /*height: 100%;*/
}

A {
  text-decoration: none;
  color: inherit;
}

.sgc_site {
  color: #FFFFFF;
  font-family: 'Baloo', cursive;
}

.sgc_active {
  background-color: #4D4D4D;
  color: #FFFFFF;
}

.sgc_site_wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.sgc_home {
  /*height: 100%*/
}

/*Header styles*/

.sgc_header {
  height: 200px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #000000;
}

.sgc_logo_container {
  height: 100%;
  width: 150px;
  float: left;
  margin-left: 20px;
}

.sgc_logo {
  /* display: inline-block; */
  float: left;
  position: relative;
  background-image: url('./../img/team_logo.png');
  background-repeat: no-repeat;
  /* background-position-y: 36px; */
  height: 75%;
  position: relative;
  background-size: 100%;
  width: 150px;
  border-radius: 100%;
  top: 36px;
}

.sgc_banner {
  float: right;
  height: 115px;
  width: calc(100% - 180px);
  text-align: center;
}

.sgc_banner_text {
  margin-top: 40px;
  /*border: 1px solid black;*/
  font-size: 50px;
}

.sgc_navbar{
  width: calc(100% - 260px);
  height: 50px;
  float: left;
  text-align: center;
  line-height: 50px;
  /* padding: 0px 60px; */
  margin: 0 auto;
  position: relative;
  left: 55px;
  top: 10px;
}

A.sgc_navbar_item {
  float: left;
  height: 100%;
  width: 170px;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

A.sgc_navbar_item:hover {
  background-color: #e1e1e1;
}

A.sgc_navbar_item.sgc_active:hover {
  background-color: #3E3E3E;
}

/*Home style*/

.sgc_last_match_container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #000000;
}

.sgc_last_match_header {
  font-size: 25px;
  margin: 20px 0;
  text-align: center;
}

.sgc_last_match_details {
  text-align: center;
}

.sgc_last_match {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px 0;
  border: 1px solid;
  border-radius: 10px;
  background-color: #000000;
}

.sgc_last_match_details > div {
  margin-bottom: 5px;
}
.sgc_las_match_venue > SPAN,
.sgc_last_match_referees > SPAN,
.sgc_last_match_comisioner > DIV,
.sgc_last_match_event_text,
.sgc_roster_player_stats {
  font-weight: bold;
  font-size: 19px;
}

.sgc_last_match_referee_name,
.sgc_last_match_comisioner > SPAN {
  font-style: italic;
}

.sgc_last_match_event {
  text-align: center;
  width: 100%;
  height: 60px;
}

.sgc_last_match_home_team,
.sgc_last_match_away_team {
  float: left;
  width: calc(50% - 50px);
}

.sgc_last_match_home_team_name {
  float: right;
}

.sgc_last_match_away_team_name {
  float: left;
}

.sgc_last_match_result {
  float: left;
  margin: 0 20px;
  max-width: 62px;
}

.sgc_last_match_home_team_result,
.sgc_last_match_dash,
.sgc_last_match_away_team_result {
  float: left;
}

.schedule {
  border-radius: 10px;
}

/*Roster styles*/

.sgc_roster_position_container {
  background-color: #000000;
  position: relative;
  padding: 10px 0;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
}

.sgc_roster_position_header {
  font-size: 20px;
  margin-bottom: 10px;
  /*border: 1px solid black;*/
  font-weight: bold;
}

.sgc_pg_position,
.sgc_sg_position,
.sgc_sf_position,
.sgc_pf_position,
.sgc_c_position {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 16%;
}

.sgc_player_icon {
  height: 60px;
  width: 60px;
  background-size: 60px;
  position: relative;
  background-image: url('./../img/roster_player_icon_wihte.png');
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 5px;
}

.sgc_player_icon span {
  color: #ffffff;
  position: relative;
  top: 40px;
}

.sgc_roster_player_name,
.sgc_roster_player_number,
.sgc_roster_player_height {
  margin: 0 5px;
}

.sgc_roster_player_stats {
  text-align: center;
}

/*Gallery Styles*/

.sgc_gallery {
  text-align: center;
  padding: 20px;
  background-color: #000000;
  border-radius: 10px;
  margin-top: 10px;
}

.sgc_gallery_image {
  display: inline-block;
  height: 134px;
  width: 200px;
  margin-right: 45px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: 200px;
}

.sgc_gallery_image:nth-child(4n + 4) {
  margin-right: 0;
}

.sgc_gallery_image:hover {
  transform: scale(1.5);
}

.slideshow_section {
  background-color: #000000;
  padding-top: 10px;
  border-radius: 10px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  height: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.slideshow-image_1,
.slideshow-image_2,
.slideshow-image_3 {
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-size: 1000px 500px;
}

.slideshow-image_1 {
  background-image: url('./../img/slideshow_1.jpg');
}

.slideshow-image_2 {
  background-image: url('./../img/slideshow_2.jpg');
}

.slideshow-image_3 {
  background-image: url('./../img/slideshow_3.jpg');
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
