<div class="sgc_header">
  <div class="sgc_logo_container"></div>
  <div class="sgc_banner">
    <div class="sgc_banner_text">Sofia Gentlemen's Basketball Club</div>
  </div>
  <nav class="sgc_navbar">
    <a id="home" class="sgc_navbar_item" :class="{ sgc_active: $store.state.selectedTab == 'home' }" @click="setActiveTab('home')" href="#">Начало</a>
    <a id="schedule" class="sgc_navbar_item" :class="{ sgc_active: $store.state.selectedTab == 'scheduleResults' }" @click="setActiveTab('scheduleResults')" href="#">Програма и резултати</a>
    <a id="roster" class="sgc_navbar_item" :class="{ sgc_active: $store.state.selectedTab == 'roster' }" @click="setActiveTab('roster')" href="#">Състав</a>
    <a id="gallery" class="sgc_navbar_item" :class="{ sgc_active: $store.state.selectedTab == 'gallery' }" @click="setActiveTab('gallery')" href="#">Галерия</a>
    <!-- <a id="contact" class="sgc_navbar_item" :class="{ sgc_active: $store.state.selectedTab == 'contact' }" @click="setActiveTab('contact')" href="#">Контакти</a> -->
  </nav>
</div>
