<div class="sgc_home">
  <section>
    <div class="sgc_last_match_container">
      <div class="sgc_last_match_header">
        <span class="sgc_last_match_header_text">Предишен мач</span>
      </div>

      <div class="sgc_last_match">

        <div class="sgc_last_match_details">
          <div class="sgc_last_match_date"><span>26.10.2017 / 20:15</span></div>
          <div class="sgc_las_match_venue"><span>зала Триадица</span></div>

          <div class="sgc_last_match_referees">
            <span>Съдии:</span>
            <div class="sgc_last_match_referee_name"><span>Иван Мирославов Маринов</span></div>
            <div class="sgc_last_match_referee_name"><span>Николай Николаев Гайтанджиев</span></div>
            <div class="sgc_last_match_referee_name"><span>Валентин Димитров Въчковски</span></div>
          </div>

          <div class="sgc_last_match_comisioner">
            <span>Комисар:</span>
            <span>Александра Стефанова Минчева</span>
          </div>

        </div>

        <div class="sgc_last_match_event">
          <div class="sgc_last_match_home_team"><span class="sgc_last_match_home_team_name">София Джентълмен'с Клуб</span></div>

          <a href="http://nbla.basketball.bg/boxscore.php?id=14715" target="_blank">

            <div class="sgc_last_match_result">
              <div class="sgc_last_match_home_team_result"><span>56</span></div>
              <div class="sgc_last_match_dash">&nbsp;-&nbsp;</div>
              <div class="sgc_last_match_away_team_result"><span>69</span></div>
            </div>

          </a>


          <div class="sgc_last_match_away_team"><span class="sgc_last_match_away_team_name">Шампион 2014</span></div>
        </div>

      </div>
    </div>

  </section>
  <div class="sgc_last_match_container">
    <div class="sgc_last_match_header">
      <span class="sgc_last_match_header_text">Предишен мач</span>
    </div>

    <div class="sgc_last_match">

      <div class="sgc_last_match_details">
        <div class="sgc_last_match_date"><span>26.10.2017 / 20:15</span></div>
        <div class="sgc_las_match_venue"><span>зала Триадица</span></div>

        <div class="sgc_last_match_referees">
          <span>Съдии:</span>
          <div class="sgc_last_match_referee_name"><span>Иван Мирославов Маринов</span></div>
          <div class="sgc_last_match_referee_name"><span>Николай Николаев Гайтанджиев</span></div>
          <div class="sgc_last_match_referee_name"><span>Валентин Димитров Въчковски</span></div>
        </div>

        <div class="sgc_last_match_comisioner">
          <span>Комисар:</span>
          <span>Александра Стефанова Минчева</span>
        </div>

      </div>

      <div class="sgc_last_match_event">
        <div class="sgc_last_match_home_team"><span class="sgc_last_match_home_team_name">София Джентълмен'с Клуб</span></div>

        <div class="sgc_last_match_result">
          <div class="sgc_last_match_home_team_result"><span>56</span></div>
          <div class="sgc_last_match_dash">&nbsp;-&nbsp;</div>
          <div class="sgc_last_match_away_team_result"><span>69</span></div>
        </div>

        <div class="sgc_last_match_away_team"><span class="sgc_last_match_away_team_name">Шампион 2014</span></div>
      </div>

    </div>
  </div>
  <section>
    <div class="sgc_home_slide_show">
      SLIDE SHOW
    </div>
  </section>

  <section>

  </section>
</div>
