<div class="schedule">
  <section v-for="event in scheduleObject.events">
    <div class="sgc_last_match">

      <div class="sgc_last_match_details">
        <div class="sgc_last_match_date"><span>{{event.match_info.start_time}}</span></div>
        <div class="sgc_las_match_venue"><span>{{event.match_info.venue}}</span></div>

        <div class="sgc_last_match_referees">
          <span>Съдии:</span>
          <div class="sgc_last_match_referee_name"><span>{{event.match_info.referees[0]}}</span></div>
          <div class="sgc_last_match_referee_name"><span>{{event.match_info.referees[1]}}</span></div>
          <div class="sgc_last_match_referee_name"><span>{{event.match_info.referees[2]}}</span></div>
        </div>

        <div class="sgc_last_match_comisioner">
          <span>Комисар:</span>
          <span>{{event.match_info.comisioner}}</span>
        </div>

      </div>

      <div class="sgc_last_match_event">
        <div class="sgc_last_match_home_team"><span class="sgc_last_match_home_team_name">{{event.home_team.name}}</span></div>

        <div class="sgc_last_match_result">
          <div class="sgc_last_match_home_team_result"><span>{{event.home_team.result}}</span></div>
          <div class="sgc_last_match_dash">&nbsp;-&nbsp;</div>
          <div class="sgc_last_match_away_team_result"><span>{{event.away_team.result}}</span></div>
        </div>

        <div class="sgc_last_match_away_team"><span class="sgc_last_match_away_team_name">{{event.away_team.name}}</span></div>
      </div>

    </div>
  </section>
</div>
